<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchLogoScreen</string>
		<key>UIColorName</key>
		<string>AccentOrange</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1819512479454791</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1819512479454791</string>
	<key>FacebookDisplayName</key>
	<string>Nutur Ai</string>
	<key>FacebookClientToken</key>
	<string>86349574a12c1af97dd8cdaa3613f3bb</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use this to make NurturAI feel more personal — so the guidance and content you see fit you better.</string>
</dict>
</plist>
