<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829022010029-l9vu36kqr4lnr3lik7o8nlhtpj8qfkok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829022010029-l9vu36kqr4lnr3lik7o8nlhtpj8qfkok</string>
	<key>API_KEY</key>
	<string>AIzaSyAt6kLenng4o3AnfLAWQHmVOUVXcByyn1A</string>
	<key>GCM_SENDER_ID</key>
	<string>829022010029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uathelp.nurturAI</string>
	<key>PROJECT_ID</key>
	<string>nurtureai-a98ee</string>
	<key>STORAGE_BUCKET</key>
	<string>nurtureai-a98ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829022010029:ios:040107e703fa030005a424</string>
</dict>
</plist>